{% extends 'base.html.twig' %}

{% block title %} {{ trick.name }} {% endblock %}

{% block body %}
<main>
    <div class="container-fluid position-relative mt-5 px-0" >
        {# Full width images with trick's name #}
        <div class="bg-image" style="background-image:url('https://picsum.photos/id/1/1024/550')">
            {% if (app.user) %}
                {% if (app.user.id == trick.author.id) %}
                    <div class="float-end my-4 mx-3 p-2 bg-light">
                        <a href="/trick/{{ trick.slug }}/edit" class="btn btn-outline-success">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button type="button" class="btn btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                {% endif %}
            {% endif %}
            <div class="img-text bg-light">
                <h1 class="text-center pt-2">{{ trick.name }}</h1>
            </div>
        </div>
    </div>

    <div class="container"> 
        <button type="button" class="btn btn-outline-secondary mt-4">See medias</button>
    </div>

    {# Modify all images and videos #}
    <div class="container mt-4" id="slideshow">
        <div class="row border shadow rounded p-2 justify-content-start h-100">
            <div class="col d-flex flex-column">
                <img src="https://picsum.photos/id/136/200/100" class="img-fluid" alt="...">
                <div class="mt-2">
                    <button type="button" class="btn btn-outline-success">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            <div class="col d-flex flex-column">
                <img src="https://picsum.photos/id/842/200/100" class="img-fluid" alt="...">
                <div class="mt-2">
                    <button type="button" class="btn btn-outline-success">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            <div class="col d-flex flex-column">
                <iframe width="180" height="100" src="https://www.youtube.com/embed/7X8II6J-6mU?si=eGEsMegGKNkPjLcx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="img-fluid"></iframe>
                <div class="mt-2">
                    <button type="button" class="btn btn-outline-success">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            <div class="col d-flex flex-column">
                <img src="https://picsum.photos/id/75/200/100" class="img-fluid" alt="...">
                <div class="mt-2">
                    <button type="button" class="btn btn-outline-success">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            <div class="col d-flex flex-column">
                <img src="https://picsum.photos/id/85/200/100" class="img-fluid" alt="...">
                <div class="mt-2">
                    <button type="button" class="btn btn-outline-success">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {# Modify informations #}
    <div class="container my-4" id="informations">
        <div class="row border shadow rounded p-2 justify-content-start">
            <h1 class="py-4">{{ trick.name }}</h1>
            <br>
            <p class="pb-3">{{ trick.content }}</p>
            <br>
            <ul class="list-group list-group-horizontal w-100 mb-4">
                <li class="col list-group-item d-flex align-items-center">
                    <i class="bi bi-person-circle px-2"></i>
                    <p class="m-0">Auteur : Admin</p>
                </li>
                <li class="col list-group-item d-flex align-items-center">
                    <i class="bi bi-collection-fill px-2"></i>
                    <p class="m-0">Collection : {{ trick.class }}</p>
                </li>
                <li class="col small list-group-item d-flex align-items-center">
                    <i class="bi bi-calendar-check-fill px-2"></i>
                    <p class="m-0">Date de modification : {{ trick.updatedAt|date("d/m/Y") }}</p>
                </li>
            </ul>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-danger mx-2">Delete</button>
                <button type="submit" class="btn btn-outline-success mx-2">Save</button>
            </div>
        </div>

    </div>
</main>
{% endblock %}
